<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="TryIt.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService" />
        <binding name="BasicHttpBinding_IService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.1.11.159:8001/Service.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService" contract="ServiceReference.IService"
        name="BasicHttpBinding_IService" />
      <endpoint address="http://10.1.11.159:8002/Service.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService1" contract="RequiredService.IService"
        name="BasicHttpBinding_IService1" />
    </client>
  </system.serviceModel>
</configuration>